{% extends 'layout.html' %}

{% block title %}
Detalle de Usuario - {{item.nombre}}
{% endblock %}

{% block contenido %}
<div class="container" style="top: 60%;">

    <div class="texto_opaco" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2>Usuario:</h2>
        <h1 class="titulo" style="margin-top: 0%;">{{item.nombre}}</h1>
    </div>

    <div style="display:flex; flex-direction: row; justify-content: center;align-items: center;">
        <div style="display: flex; flex-direction: column; width: 35%; align-items: center; padding: 0%; align-content: center;">
            <div><label class="titulo">Foto de perfil</label></div>
            <div><img class="img-detalleusuario" src="../static/img/profile.jpg"></div>
            <div><a class="texto_opaco" href="#">Editar imagen</a></div>
        </div>
        <div style="width: 60%; height: 100%; float: center; padding: 5%; vertical-align: middle;">
            <form action="{{ url_for('detalle_usuario', id=id_usuario) }}" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <table style="vertical-align: baseline;">
                    <tr>
                        <th>Nombre de usuario</th>
                        <td class="texto_opaco" style="border-bottom: 0ch;"> {{item.usuario}}
                        </td>
                    </tr>
                    <tr>
                        <th id=encabezado>Nombre</th>
                        <td id=texto_opaco style="border-bottom: 0ch;">{{ form.nombre(class="box", value=item.nombre)}}</td>
                    </tr>
                    <tr>
                        <th id=encabezado>Correo</th>
                        <td id=texto_opaco style="border-bottom: 0ch;">{{ form.correo(class="box", value=item.correo)}}</td>
                    </tr>
                    {% if session.get('rol') == "Super Administrador" %}
                    <tr>
                        <th id=encabezado>Rol</th>
                        <td style="border-bottom: 0ch;">
                            {{form.rol(class="box", required=True)}}
                        </td>
                    </tr>
                    {% endif %}    
                </table>

                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    {% if mensaje %}
                        {{ mensaje }}
                    {% endif %}
                    <button class="boton" style="align-content: center; ;width: 20%; margin: 5%; "> {{ form.enviar(class="boton") }} </button>
                </div>     
               
            </form>
        </div>
    </div>
    
    <div style="display: flex; width: 100%; flex-direction:row; justify-content: center; margin-left: auto; margin-right: auto; margin-top: 0em;">
                    
        <button class="boton" style="width: 20%; margin: 5%; margin-top: 0em;" onclick="document.location='/lista-usuarios'">Volver a la lista</button>
    </div>
</div>
<!-- 

<select class="box" name="selectRol">
                            <option value="cliente">
                                Cliente
                            </option>
                            <option value="Administrador">
                                Administrador
                            </option>
                            <option value="Super Administrador">
                                Super Administrador
                            </option>
                            </select>


<div class="container" style="top: 60%;">
    <div class="texto_opaco" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2>Usuario:</h2>
    </div>
    <div class="titulo" style="margin-top: 0;">
        <h1>{{item.nombre}}</h1>
    </div>
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center;">
        <div style="display: flex; flex-direction: column; width: 35%; align-items: center; padding: 0%; align-content: center;">
            <div><label class="titulo">Foto de perfil</label></div>
            <div><img class="img-detalleusuario" src="../static/img/profile.jpg"></div>
            <div><a class="texto_opaco" href="#">Editar imagen</a></div>
        </div>
        <div style="width: 60%; height: 100%; float: center; padding: 5%; vertical-align: middle;">
        {% if item %}
            <table class="lista" style="vertical-align: baseline;">
                <tr>
                    <th id=encabezado>Nombre de usuario</th>
                    <td id=texto_opaco>{{item.usuario}}</td>
                </tr>
                <tr>
                    <th id=encabezado>Nombre</th>
                    <td id=texto_opaco>{{item.nombre}}</td>
                </tr>
                <tr>
                    <th id=encabezado>Correo</th>
                    <td id=texto_opaco>{{item.correo}}</td>
                </tr>
                <tr>
                    <th id=encabezado>Rol</th>
                    <td><select>
                        <option>Administrador</option>
                        <option>Super Administrador</option>
                    </select></td>
                </tr>        
            </table>
        {% else %}
        <div class="grupo">
            {% if error %} 
                {{ error }}
            {% endif %}
        </div>
        {% endif %}
        
    </div>
    </div>
    <div class="container" style="width: 100%; display: block; align-items: center;">
        <button class="boton" style="width: 30%; margin: 1.5%; ">Eliminar</button>
        <button class="boton" style="width: 30%; margin: 1.5%; ">Guardar</button>
        <button class="boton" style="width: 30%; margin: 1.5%; "><a class="boton" href="{{ url_for('usuarios', id=item.id) }}">Volver</a></button>
    </div>
</div> -->
{% endblock %}
