{% extends 'layout.html' %}

{% block title %}
Editar plato
{% endblock %}

{% block contenido %}
<div class="container" style="top: 35em;">
    <form action="{{ url_for('detail_plato', id_plato=id) }}" method="POST" novalidate>
    <div class="texto_opaco" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2>Plato:</h2>
        <h1 class="titulo" style="margin:0%;""> {{form.nombre(class="box", value=item.nombre)}}</h1>
    </div>

    <div style="display:flex; flex-direction: row; justify-content: center;align-items: center;">
        <div style="display: flex; flex-direction: column; width: 35%; align-items: center; padding: 0%; align-content: center;">
            <div><label class="titulo">Foto de perfil</label></div>
            <div><img class="img-detalleusuario" src="{{ url_for('static', filename='img/cookie.PNG') }}"></div>
            <div><a class="texto_opaco" href="#">Editar imagen</a></div>
        </div>
        <div style="width: 50%; height: 100%; float: center; padding: 5%; vertical-align: middle">
                {{ form.hidden_tag() }}
                <table style="vertical-align: baseline;">
                    <tr style="display: flex; flex-direction: column;">
                        <th style="font-weight: 500;">Descripción</th>
                        <td class="input" style="resize: none; border-bottom: 0;">
                            {{form.descripcion(id="descripcion", class="box", rows=10)}}
                        </td>
                        <script >
                            // data-descripcion={{item.descripcion}}
                            // var descripcion = document.currentScript.getAttribute('data-descripcion');
                            // console.log(descripcion)
                        function myFunction() {
                            document.getElementById("descripcion").value = "{{item.descripcion}}";
                          }
                        myFunction()
                        </script>
                        <th style="font-weight: 500;">Precio</th>
                        <td class="input" style="border-bottom: 0ch;">{{ form.precio(class="box", value=item.precio)}}</td>
                    </tr>
                </table>

                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    {% if mensaje %}
                        {{ mensaje }}
                    {% endif %}
                    <button class="boton" style="width: auto; margin: 2em; "> {{ form.editar(class="boton") }} </button>
                </div>     
               
            </form>
        </div>
    </div>
    
    <div style="display: flex; width: 100%; flex-direction:row; justify-content: center; margin-left: auto; margin-right: auto; margin-top: 2em;">
                    
        <button class="boton" style="width: 20%; margin: 2em;" onclick="document.location='/platos/listado'">Volver a la lista</button>
    </div>
</div>

<!-- 
<div class="container">
    <div class="texto_opaco" style="display:flex ;flex-direction: column ;align-items: center; font-size: small;">
        <h2>Plato:</h2>
    </div>
    <div class="titulo" style="margin-top: 0;">
        <h1>{{item.nombre}}</h1>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;vertical-align: top;">
        <div style="display:flex; flex-direction:column; width: 35%; align-items: center; padding: 0%; justify-content:center ;">
            <div><label class="titulo">Imagen del plato</label></div>
            <div><img class="img-cookie" src="{{ url_for('static', filename='img/cookie.PNG') }}"></div>
            <div><a class="texto_opaco" href="#">Editar imagen</a></div>
        </div>
        <div style="width: 50%; height: 100%; flex-direction: column; justify-content: center; align-items: center; vertical-align: middle; align-self: flex-start; margin-top: 2em;">
            <div class="titulo" style="width: 80%;"><h2>Descripción</h2></div>
            <div style=" flex-direction: column; justify-content: center; align-items: center; vertical-align: middle; width: 80%; text-align: justify;">   
                <p> 
                    {{ item.descripcion }}
                </p>
            </div>
            <div style="display: flex; flex-direction: row; width: 80%; justify-items: center; justify-content:end; vertical-align: middle; margin-top: 2em;">
                <p>Precio</p>
                <p style="align-self: center; margin-left: 1em; font-size: 70%; font-weight: 500; color:rgb(255, 0, 0); " id="precios" >{{ item.precio }}</p>
            </div>    
        
        </div>
    </div>

    <div style="display: flex; width: 80%; flex-direction:row; justify-content: center; margin-left: auto; margin-right: auto;">
        <a href="{{ url_for('get_listado_platos') }}"><button class="boton" style="width: auto; margin-top: 4em; ">Volver a la lista</button></a>
        <a href="{{ url_for('get_listado_platos') }}"><button class="boton" style="width: auto; margin-top: 4em; ">Eliminar</button></a>
        <a href="{{ url_for('get_listado_platos') }}"><button class="boton" style="width: auto; margin-top: 4em; ">Guardar</button></a>
    </div> 

</div> -->
{% endblock %}
